*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

html, body {
  background-color: black;
  height: 100%;
  margin: 0;
}

@media all and (min-width: 400px) {
  html {
    font-size: 125%;
  }
}

@media all and (min-width: 600px) {
  html {
    font-size: 150%;
  }
}

@media all and (min-width: 800px) {
  html {
    font-size: 200%;
  }
}

header.main {
  background-color: black;
  color: white;
  padding: 0.5rem;
  text-align: right;
}

header a.refresh img {
  width: 2rem;
}

header a.refresh.loading img {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

ul.lines {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.lines li header {
  padding: 0.5rem;
}

ul.lines li header span.status {
  border-radius: 0.1em;
  float: right;
  font-size: 0.85em;
  background: rgba(255, 255, 255, 0.8);
  padding: 0.1rem 0.5rem;
  color: red;
}

ul.lines li span.status.good-service {
  color: green;
}

ul.lines .messages {
  padding: 0.75em;
  font-size: 0.75em;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.9);
}

.bakerloo { background: #b36305; color: white; }

.central { background: #e32017; color: white; }

.circle { background: #ffd300; color: #113b92; }

.district { background: #00782a; color: white; }

.dlr { background: #00a4a7; color: white; }

.hammersmith-and-city { background: #f3a9bb; color: #113b92; }

.jubilee { background: #a0a5a9; color: white; }

.metropolitan { background: #9b0056; color: white; }

.northern { background: black; color: white; }

.overground { background: #ee7c0e; color: white; }

.piccadilly { background: #003688; color: white; }

.victoria { background: #0098d4; color: white; }

.waterloo-and-city { background: #95cdba; color: #113b92; }
